hr{
    border-style: dotted none none;
    border-width: 6px;
    border-color: black;
    height: 0px;
    width: 10%;
}

body{
    background-color: #ffffff9;
}

h1{
    color: #272343;
}

h2{
    color: #0061a8;
}

img{
    background-color:
}
